<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Space Missions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astronauts">Astronauts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spacecraft">Spacecraft</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/destinations">Space Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/countries">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions_to_astronauts">Missions to Astronauts</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
  -->
    </ul>
  </div>
</nav>
<br>
<div class="col-md-8">
    <div class="jumbotron pt-4">
          <h1>Database Front-End Functionality</h1>
          <ul>
              <li><a href="/missions">Missions</a>: View, Add, Edit, Delete and View/Add/Edit/Delete the relationship between a Mission and its many Astronauts<br></li>
              <li><a href="/astronauts">Astronauts</a>: View, Add, Edit, Delete and View/Add/Edit/Delete the relationship between an Astronaut and their many Missions<br></li>
              <li><a href="/missions_to_astronauts">Mission to Astronauts</a>: Directly add and delete Astronauts to Missions
              <li><a href="/spaceraft">Spacecraft</a>: View, Add, Edit, Delete<br></li>
              <li><a href="/countries">Countries</a>: View, Add, Edit, Delete<br></li>
              <li><a href="/destinations">Destinations</a>: View, Add, Edit, Delete<br></li>
          </ul>
    </div>
</div>
